In [1]:
import pandas as pd

In [2]:
jobkorea = pd.read_csv('./jobkorea/jobkorea_jobs.csv')
jumpit = pd.read_csv('./jumpit/jumpit_jobs.csv')
saramin = pd.read_csv('./saramin/saramin_jobs.csv')
wanted = pd.read_csv('./wanted/wanted_jobs_categorized_with_location.csv')

In [3]:
jobkorea.head()

,company,title,url,exp,typ,loc,job_name
0,㈜인라이플,[주4.5일근무] 데이터 분석 및 기획자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력2년↑,정규직,서울,데이터 분석
1,패스트파이브㈜,데이터 분석 담당자,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,정규직,서울,데이터 분석
2,주식회사 빗썸,[빗썸] 비즈니스 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력7년↑,정규직,서울,데이터 분석
3,㈜컬리,[컬리] 온사이트 프로모션 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력,정규직,서울,데이터 분석
4,"㈜숲(SOOP CO., LTD.)",[soop] 데이터 분석 및 지표 설계,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,정규직,경기,데이터 분석

In [4]:
jobkorea = jobkorea.drop(['typ'], axis=1)
jobkorea.head()

,company,title,url,exp,loc,job_name
0,㈜인라이플,[주4.5일근무] 데이터 분석 및 기획자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력2년↑,서울,데이터 분석
1,패스트파이브㈜,데이터 분석 담당자,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,서울,데이터 분석
2,주식회사 빗썸,[빗썸] 비즈니스 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력7년↑,서울,데이터 분석
3,㈜컬리,[컬리] 온사이트 프로모션 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력,서울,데이터 분석
4,"㈜숲(SOOP CO., LTD.)",[soop] 데이터 분석 및 지표 설계,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,경기,데이터 분석

In [5]:
jumpit.head()

,company,title,url,loc,exp,job_name
0,부동산플래닛,[데이터분석가] data analyst,https://jumpit.saramin.co.kr/position/38267,서울,신입~20년,데이터 분석
1,주식회사 세계입찰,데이터분석가 신입 채용,https://jumpit.saramin.co.kr/position/38636,경기,신입,데이터 분석
2,주식회사 세계입찰,데이터분석가 경력 채용,https://jumpit.saramin.co.kr/position/38602,경기,경력 5~20년,데이터 분석
3,넛지헬스케어,[캐시워크] 데이터분석 담당 (석사/박사),https://jumpit.saramin.co.kr/position/37816,서울,신입~10년,데이터 분석
4,넛지헬스케어,[병역특례] 데이터분석 담당 산업기능요원 모집,https://jumpit.saramin.co.kr/position/37814,서울,신입~2년,데이터 분석

In [6]:
jumpit = jumpit[['company', 'title', 'url', 'exp', 'loc', 'job_name']]
jumpit.head()

,company,title,url,exp,loc,job_name
0,부동산플래닛,[데이터분석가] data analyst,https://jumpit.saramin.co.kr/position/38267,신입~20년,서울,데이터 분석
1,주식회사 세계입찰,데이터분석가 신입 채용,https://jumpit.saramin.co.kr/position/38636,신입,경기,데이터 분석
2,주식회사 세계입찰,데이터분석가 경력 채용,https://jumpit.saramin.co.kr/position/38602,경력 5~20년,경기,데이터 분석
3,넛지헬스케어,[캐시워크] 데이터분석 담당 (석사/박사),https://jumpit.saramin.co.kr/position/37816,신입~10년,서울,데이터 분석
4,넛지헬스케어,[병역특례] 데이터분석 담당 산업기능요원 모집,https://jumpit.saramin.co.kr/position/37814,신입~2년,서울,데이터 분석

In [7]:
saramin.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,정규직,서울,강서구,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,인턴직,서울,강남구,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,경기,수원시 영통구,데이터 분석가

In [8]:
saramin = saramin.drop(['계약형태', '지역(구)'], axis=1)
saramin.head()

,회사,제목,URL,경력,지역,직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,서울,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,서울,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,서울,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,서울,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,경기,데이터 분석가

In [9]:
saramin['지역'].unique()

array(['서울', '경기', '서울전체', '제주', '전북', '대구', '충북', '인천', '대전', '부산',
       '경기전체', '강원', '경북', '광주', '세종특별자치시', '경남', '대전전체', '제주전체'],
      dtype=object)

In [10]:
out = ['미국', '일본', '중국·홍콩', '아시아·중동', '북·중미', '남미', '유럽', '오세아니아', '아프리카', '남극대륙', '기타해외']

saramin['지역'] = saramin['지역'].map(lambda x: '해외' if x in out else x.replace('전체', '').replace('세종특별자치시', '세종'))
saramin.head()

,회사,제목,URL,경력,지역,직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,서울,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,서울,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,서울,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,서울,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,경기,데이터 분석가

In [11]:
saramin['지역'].unique()

array(['서울', '경기', '제주', '전북', '대구', '충북', '인천', '대전', '부산', '강원', '경북',
       '광주', '세종', '경남'], dtype=object)

In [12]:
wanted.head()

,role,title,company,location,url,지역,경력
0,AI 서비스 개발자,Sr. Machine Learning Engineer (HPCNT AI),하이퍼커넥트,서울 강남구 · 경력 3-13년,https://www.wanted.co.kr/wd/254260,서울 강남구,경력 3-13년
1,AI 서비스 개발자,AI Research Engineer (2년 이상),폴스타헬스케어,서울 서초구 · 경력 2년 이상,https://www.wanted.co.kr/wd/254283,서울 서초구,경력 2년 이상
2,AI 서비스 개발자,멀티모달 AI 엔지니어,로민,서울 서초구 · 경력 2-10년,https://www.wanted.co.kr/wd/254250,서울 서초구,경력 2-10년
3,AI 서비스 개발자,AI 엔지니어,카이헬스,서울 강남구 · 경력 3년 이상,https://www.wanted.co.kr/wd/254173,서울 강남구,경력 3년 이상
4,기타,AI Lead (5년이상),비글즈,경기 성남시 · 경력 5-15년,https://www.wanted.co.kr/wd/253998,경기 성남시,경력 5-15년

In [13]:
wanted['지역'] = wanted['지역'].map(lambda x: x.split(' ')[0])
wanted.head()

,role,title,company,location,url,지역,경력
0,AI 서비스 개발자,Sr. Machine Learning Engineer (HPCNT AI),하이퍼커넥트,서울 강남구 · 경력 3-13년,https://www.wanted.co.kr/wd/254260,서울,경력 3-13년
1,AI 서비스 개발자,AI Research Engineer (2년 이상),폴스타헬스케어,서울 서초구 · 경력 2년 이상,https://www.wanted.co.kr/wd/254283,서울,경력 2년 이상
2,AI 서비스 개발자,멀티모달 AI 엔지니어,로민,서울 서초구 · 경력 2-10년,https://www.wanted.co.kr/wd/254250,서울,경력 2-10년
3,AI 서비스 개발자,AI 엔지니어,카이헬스,서울 강남구 · 경력 3년 이상,https://www.wanted.co.kr/wd/254173,서울,경력 3년 이상
4,기타,AI Lead (5년이상),비글즈,경기 성남시 · 경력 5-15년,https://www.wanted.co.kr/wd/253998,경기,경력 5-15년

In [14]:
wanted['지역'].unique()

array(['서울', '경기', '경북', '인천', '대전', '부산', '충남'], dtype=object)

In [15]:
wanted = wanted.drop(['location'], axis=1)
wanted.head()

,role,title,company,url,지역,경력
0,AI 서비스 개발자,Sr. Machine Learning Engineer (HPCNT AI),하이퍼커넥트,https://www.wanted.co.kr/wd/254260,서울,경력 3-13년
1,AI 서비스 개발자,AI Research Engineer (2년 이상),폴스타헬스케어,https://www.wanted.co.kr/wd/254283,서울,경력 2년 이상
2,AI 서비스 개발자,멀티모달 AI 엔지니어,로민,https://www.wanted.co.kr/wd/254250,서울,경력 2-10년
3,AI 서비스 개발자,AI 엔지니어,카이헬스,https://www.wanted.co.kr/wd/254173,서울,경력 3년 이상
4,기타,AI Lead (5년이상),비글즈,https://www.wanted.co.kr/wd/253998,경기,경력 5-15년

In [16]:
changeco = ['company', 'title', 'url', '경력', '지역', 'role']
wanted = wanted[changeco]
wanted.head()

,company,title,url,경력,지역,role
0,하이퍼커넥트,Sr. Machine Learning Engineer (HPCNT AI),https://www.wanted.co.kr/wd/254260,경력 3-13년,서울,AI 서비스 개발자
1,폴스타헬스케어,AI Research Engineer (2년 이상),https://www.wanted.co.kr/wd/254283,경력 2년 이상,서울,AI 서비스 개발자
2,로민,멀티모달 AI 엔지니어,https://www.wanted.co.kr/wd/254250,경력 2-10년,서울,AI 서비스 개발자
3,카이헬스,AI 엔지니어,https://www.wanted.co.kr/wd/254173,경력 3년 이상,서울,AI 서비스 개발자
4,비글즈,AI Lead (5년이상),https://www.wanted.co.kr/wd/253998,경력 5-15년,경기,기타

In [17]:
wanted = wanted[wanted['role'] != '기타']
wanted.head()

,company,title,url,경력,지역,role
0,하이퍼커넥트,Sr. Machine Learning Engineer (HPCNT AI),https://www.wanted.co.kr/wd/254260,경력 3-13년,서울,AI 서비스 개발자
1,폴스타헬스케어,AI Research Engineer (2년 이상),https://www.wanted.co.kr/wd/254283,경력 2년 이상,서울,AI 서비스 개발자
2,로민,멀티모달 AI 엔지니어,https://www.wanted.co.kr/wd/254250,경력 2-10년,서울,AI 서비스 개발자
3,카이헬스,AI 엔지니어,https://www.wanted.co.kr/wd/254173,경력 3년 이상,서울,AI 서비스 개발자
5,씨메스(CMES),2D/3D Vision Foundation Model Engineer,https://www.wanted.co.kr/wd/253423,경력 3-10년,서울,AI 서비스 개발자

In [18]:
one = ['회사이름', '공고이름', 'url', '경력', '지역', '직무']

jobkorea.columns = one
jumpit.columns = one
saramin.columns = one
wanted.columns = one

In [19]:
jobkorea.head()

,회사이름,공고이름,url,경력,지역,직무
0,㈜인라이플,[주4.5일근무] 데이터 분석 및 기획자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력2년↑,서울,데이터 분석
1,패스트파이브㈜,데이터 분석 담당자,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,서울,데이터 분석
2,주식회사 빗썸,[빗썸] 비즈니스 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력7년↑,서울,데이터 분석
3,㈜컬리,[컬리] 온사이트 프로모션 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력,서울,데이터 분석
4,"㈜숲(SOOP CO., LTD.)",[soop] 데이터 분석 및 지표 설계,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,경기,데이터 분석

In [20]:
jumpit.head()

,회사이름,공고이름,url,경력,지역,직무
0,부동산플래닛,[데이터분석가] data analyst,https://jumpit.saramin.co.kr/position/38267,신입~20년,서울,데이터 분석
1,주식회사 세계입찰,데이터분석가 신입 채용,https://jumpit.saramin.co.kr/position/38636,신입,경기,데이터 분석
2,주식회사 세계입찰,데이터분석가 경력 채용,https://jumpit.saramin.co.kr/position/38602,경력 5~20년,경기,데이터 분석
3,넛지헬스케어,[캐시워크] 데이터분석 담당 (석사/박사),https://jumpit.saramin.co.kr/position/37816,신입~10년,서울,데이터 분석
4,넛지헬스케어,[병역특례] 데이터분석 담당 산업기능요원 모집,https://jumpit.saramin.co.kr/position/37814,신입~2년,서울,데이터 분석

In [21]:
saramin.head()

,회사이름,공고이름,url,경력,지역,직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,서울,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,서울,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,서울,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,서울,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,경기,데이터 분석가

In [22]:
wanted.head()

,회사이름,공고이름,url,경력,지역,직무
0,하이퍼커넥트,Sr. Machine Learning Engineer (HPCNT AI),https://www.wanted.co.kr/wd/254260,경력 3-13년,서울,AI 서비스 개발자
1,폴스타헬스케어,AI Research Engineer (2년 이상),https://www.wanted.co.kr/wd/254283,경력 2년 이상,서울,AI 서비스 개발자
2,로민,멀티모달 AI 엔지니어,https://www.wanted.co.kr/wd/254250,경력 2-10년,서울,AI 서비스 개발자
3,카이헬스,AI 엔지니어,https://www.wanted.co.kr/wd/254173,경력 3년 이상,서울,AI 서비스 개발자
5,씨메스(CMES),2D/3D Vision Foundation Model Engineer,https://www.wanted.co.kr/wd/253423,경력 3-10년,서울,AI 서비스 개발자

In [23]:
final = pd.concat([jobkorea, jumpit, saramin, wanted], ignore_index=True)
final.head()

,회사이름,공고이름,url,경력,지역,직무
0,㈜인라이플,[주4.5일근무] 데이터 분석 및 기획자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력2년↑,서울,데이터 분석
1,패스트파이브㈜,데이터 분석 담당자,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,서울,데이터 분석
2,주식회사 빗썸,[빗썸] 비즈니스 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력7년↑,서울,데이터 분석
3,㈜컬리,[컬리] 온사이트 프로모션 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력,서울,데이터 분석
4,"㈜숲(SOOP CO., LTD.)",[soop] 데이터 분석 및 지표 설계,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,경기,데이터 분석

In [24]:
len(final)

2058

In [25]:
final[['회사이름', '공고이름', '직무']].duplicated().sum()

276

In [26]:
final = final.drop_duplicates(subset=['회사이름', '공고이름', '직무']).reset_index(drop=True)
len(final)

1782

In [28]:
final[['회사이름', '공고이름', '직무']].duplicated().sum()

0

In [29]:
final.to_csv('final.csv', index=False)