## 데이터 전처리
- 제목에 직군 이름이 들어간 경우만 추출
- 정규직, 인턴, 계약직, 프리랜서 타입만 추출
- D-day를 날짜로 변경
- 중복 제거

In [2]:
import pandas as pd

In [44]:
df = pd.read_csv('crawling_job_all.csv')
df.head()

,company,title,url,exp,edu,typ,loc,date,job_name
0,(주)우아한형제들,각 부문별 경력/신입 인재영입,https://www.jobkorea.co.kr/Recruit/GI_Read/453...,신입·경력,학력무관,정규직 외,서울 송파구,상시채용,데이터 분석
1,주식회사 빗썸,2024 빗썸 전직군 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/455...,경력무관,학력무관,정규직 외,서울 강남구 외,상시채용,데이터 분석
2,㈜헥토이노베이션,"헥토이노베이션 직군별 채용 (서비스기획,정보보안,영업,영업지원,광고기획,서비스개발,...",https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력,학력무관,정규직,서울 강남구,D-53,데이터 분석
3,㈜세종교육,"[IT취업률100프로]무료 취준생모집(국내/일본, 수도권무료숙식 제공/비전공자 가능...",https://www.jobkorea.co.kr/Recruit/GI_Read/458...,신입·경력,학력무관,연수생/교육생,경기 성남시 외,D-6,데이터 분석
4,한국폴리텍대학분당융합기술교육원,IT(AI·SW) 개발자/ 품질관리전문가(바이오·이화학) 취업실무교육생 모집,https://www.jobkorea.co.kr/Recruit/GI_Read/458...,신입·경력,초대졸↑,연수생/교육생,경기 성남시 외,D-26,데이터 분석

#### 직업 타입

In [45]:
job_type = ['정규직', '인턴', '계약직', '프리랜서']

In [46]:
df_type = df[df['typ'].str.contains('|'.join(job_type))]
df_type.head(10)

,company,title,url,exp,edu,typ,loc,date,job_name
0,(주)우아한형제들,각 부문별 경력/신입 인재영입,https://www.jobkorea.co.kr/Recruit/GI_Read/453...,신입·경력,학력무관,정규직 외,서울 송파구,상시채용,데이터 분석
1,주식회사 빗썸,2024 빗썸 전직군 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/455...,경력무관,학력무관,정규직 외,서울 강남구 외,상시채용,데이터 분석
2,㈜헥토이노베이션,"헥토이노베이션 직군별 채용 (서비스기획,정보보안,영업,영업지원,광고기획,서비스개발,...",https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력,학력무관,정규직,서울 강남구,D-53,데이터 분석
6,㈜에이플러스에셋어드바이저,2024 에이플러스에셋 하반기 대졸공채,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,신입·경력,대졸↑,정규직,서울,D-4,데이터 분석
7,쿠프마케팅,쿠프마케팅그룹 부분별 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,신입·경력2년↑,학력무관,정규직 외,서울 성동구 외,D-10,데이터 분석
8,다이닝브랜즈그룹㈜,2024 다이닝브랜즈그룹 대졸 신입사원 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력무관,대졸↑,정규직,서울,D-4,데이터 분석
9,SK하이닉스㈜,SK하이닉스㈜ 청년 Hy-Five 12기 모집,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력무관,학력무관,인턴,경기 이천시,D-14,데이터 분석
10,현대트랜시스㈜,모빌리티품질관리 부문 신입·경력 모집,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,신입·경력5년↑,대졸↑,정규직,경기 화성시 외,D-3,데이터 분석
11,루이비통코리아㈜,LOUIS VUITTON 인천공항 T2 면세스토어 전 직군 대규모 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,신입·경력,학력무관,정규직,인천 중구 외,D-11,데이터 분석
12,종근당,종근당 수시채용,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력2년↑,대졸↑,정규직,서울 서대문구,D-7,데이터 분석

#### 제목에 직군 이름이 들어간 경우만

In [47]:
df_lower = df_type.copy()

df_lower['title'] = df_lower['title'].str.lower()
df_lower.head(10)

,company,title,url,exp,edu,typ,loc,date,job_name
0,(주)우아한형제들,각 부문별 경력/신입 인재영입,https://www.jobkorea.co.kr/Recruit/GI_Read/453...,신입·경력,학력무관,정규직 외,서울 송파구,상시채용,데이터 분석
1,주식회사 빗썸,2024 빗썸 전직군 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/455...,경력무관,학력무관,정규직 외,서울 강남구 외,상시채용,데이터 분석
2,㈜헥토이노베이션,"헥토이노베이션 직군별 채용 (서비스기획,정보보안,영업,영업지원,광고기획,서비스개발,...",https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력,학력무관,정규직,서울 강남구,D-53,데이터 분석
6,㈜에이플러스에셋어드바이저,2024 에이플러스에셋 하반기 대졸공채,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,신입·경력,대졸↑,정규직,서울,D-4,데이터 분석
7,쿠프마케팅,쿠프마케팅그룹 부분별 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,신입·경력2년↑,학력무관,정규직 외,서울 성동구 외,D-10,데이터 분석
8,다이닝브랜즈그룹㈜,2024 다이닝브랜즈그룹 대졸 신입사원 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력무관,대졸↑,정규직,서울,D-4,데이터 분석
9,SK하이닉스㈜,sk하이닉스㈜ 청년 hy-five 12기 모집,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력무관,학력무관,인턴,경기 이천시,D-14,데이터 분석
10,현대트랜시스㈜,모빌리티품질관리 부문 신입·경력 모집,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,신입·경력5년↑,대졸↑,정규직,경기 화성시 외,D-3,데이터 분석
11,루이비통코리아㈜,louis vuitton 인천공항 t2 면세스토어 전 직군 대규모 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,신입·경력,학력무관,정규직,인천 중구 외,D-11,데이터 분석
12,종근당,종근당 수시채용,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력2년↑,대졸↑,정규직,서울 서대문구,D-7,데이터 분석

In [48]:
def check_keywords(row, keywords):
    for keyword_group in keywords:
        if all(keyword in row for keyword in keyword_group):
            return True
    return False

In [49]:
da_with = [
    ['데이터', '분석'],    
    ['data', 'analyst'],  
    ['db', '분석'],      
    ['데이터', '애널리스트'],
    ['buisness', 'analyst'],
    ['analyst'],   
    ['분석'],     
    ['데이터 분석'], 
    ['data analyst'] 
]

In [50]:
filt = df_lower[df_lower['job_name'] == '데이터 분석']

da = filt[filt['title'].apply(lambda x: check_keywords(x, da_with))]
da.head()

,company,title,url,exp,edu,typ,loc,date,job_name
24,㈜인라이플,[주4.5일근무] 데이터 분석 및 기획자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력2년↑,학력무관,정규직,서울 구로구 외,상시채용,데이터 분석
25,패스트파이브㈜,데이터 분석 담당자,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,대졸↑,정규직,서울 강남구,D-22,데이터 분석
26,주식회사 빗썸,[빗썸] 비즈니스 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력7년↑,학력무관,정규직,서울 강남구,상시채용,데이터 분석
27,㈜컬리,[컬리] 온사이트 프로모션 데이터 분석,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력,대졸↑,정규직,서울 강남구,D-21,데이터 분석
28,"㈜숲(SOOP CO., LTD.)",[soop] 데이터 분석 및 지표 설계,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,학력무관,정규직,경기 성남시,D-3,데이터 분석

In [52]:
de_with = [
    ['데이터', '엔지니어'],    
    ['data', 'engineer'],  
    ['db', '엔지니어'],      
    ['db', 'engineer']
]

In [53]:
filt = df_lower[df_lower['job_name'] == '데이터 엔지니어']

de = filt[filt['title'].apply(lambda x: check_keywords(x, de_with))]
de.head()

,company,title,url,exp,edu,typ,loc,date,job_name
207,㈜기어세컨드,데이터 엔지니어(de) 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,학력무관,정규직,서울 마포구,D-52,데이터 엔지니어
208,㈜카카오페이,데이터 엔지니어 - 데이터플랫폼팀,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,학력무관,정규직,경기 성남시,D-23,데이터 엔지니어
225,컴퓨터수리,데이터복구 엔지니어 모십니다.,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력무관,학력무관,정규직 외,서울 서대문구 외,오늘마감,데이터 엔지니어
226,콘센트릭스서비스코리아(유),데이터엔지니어,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력6년↑,학력무관,정규직,서울 강남구,D-15,데이터 엔지니어
227,㈜위즈베이스,oracle/tibero db 엔지니어 경력사원 모십니다.,https://www.jobkorea.co.kr/Recruit/GI_Read/457...,경력6년↑,초대졸↑,정규직 외,서울 성동구,상시채용,데이터 엔지니어

In [54]:
ai_with = [
    ['a', 'i', '개발'],
    ['인공지능', '개발'],
    ['a', 'i', '엔지니어'],
    ['a', 'i', 'engineer'],
    ['a', 'i', '연구'],
    ['a', 'i', 'architect'],
    ['딥', '러닝'],
    ['deep', 'learning'],
    ['machine', 'learning'],
    ['a', 'i', 'researcher'],
    ['a', 'i', 'solution'], 
    ['a', 'i', '전문가']
]

In [55]:
filt = df_lower[df_lower['job_name'] == 'AI 개발자']

ai = filt[filt['title'].apply(lambda x: check_keywords(x, ai_with))]
ai.head()

,company,title,url,exp,edu,typ,loc,date,job_name
362,㈜옵트에이아이,임베디드 ai 개발자 (c++),https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력,석사↑,정규직,서울 강서구,D-15,AI 개발자
363,㈜옵트에이아이,비전 ai 어플리케이션 엔지니어,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력,석사↑,정규직,서울 강서구,D-15,AI 개발자
364,㈜에이아이포블록체인(AI4 Blo,(경력) 인공지능 개발자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력1년↑,석사↑,정규직,경기 의왕시,D-20,AI 개발자
365,㈜더존비즈온,[ai 개발] 더존비즈온 ai 개발자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력1년↑,학력무관,정규직,강원 춘천시,D-4,AI 개발자
366,㈜아이스크림아트,ai연구소 ai기반 연구팀장,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력7년↑,대졸↑,정규직,서울 강남구,D-26,AI 개발자

In [56]:
cb_with = [
    ['챗봇', '개발'],
    ['a', 'i', '개발'],
    ['llm', '개발'],
    ['react', '개발'], 
    ['프론트', '개발']
]

In [57]:
filt = df_lower[df_lower['job_name'] == '챗봇 개발자']

cb = filt[filt['title'].apply(lambda x: check_keywords(x, cb_with))]
cb.head()

,company,title,url,exp,edu,typ,loc,date,job_name
537,㈜메이크봇,"ai챗봇 선두기업, java/php 웹개발자 채용",https://www.jobkorea.co.kr/Recruit/GI_Read/460...,신입·경력,초대졸↑,정규직 외,서울 구로구,D-27,챗봇 개발자
541,㈜새롬정보시스템,gen ai 기반 응용솔루션 웹개발(ai사업부문) 경력사원 채용공고,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력3년↑,초대졸↑,정규직,서울 금천구,D-57,챗봇 개발자
559,㈜에스지시큐리티컨설팅,[신입/경력]ai 개발자,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,신입·경력1년↑,초대졸↑,정규직,서울 강남구,D-17,챗봇 개발자
560,㈜페르소나에이아이,인공지능(ai) 솔루션 php 개발자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/460...,경력5년↑,초대졸↑,정규직,서울 강남구,D-29,챗봇 개발자
561,알파브릿지㈜,프론트엔드 시니어 개발자 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/459...,경력5년↑,학력무관,정규직,경기 성남시,D-36,챗봇 개발자

In [ ]:
cld_with = [
    ['클라우드', '엔지니어'],
    ['cloud', 'engineer'],
    ['cloud', '엔지니어'],
    ['클라우드', 'engineer'],
    ['cloud', 'architect'],
    ['클라우드', '아키텍트'],
    ['클라우드', '운영'],
    ['시스템', '엔지니어'],
    ['클라우드', '개발'],
    ['cloud', '개발'],
    ['서버', '엔지니어'],
    ['네트워크', '엔지니어'],
    ['network', '엔지니어'],
    ['네트워크', 'engineer'],
    ['인프라', '엔지니어'],
    ['cloud', 'sa']
]

In [ ]:
filt = df_lower[df_lower['job_name'] == '클라우드 엔지니어']

cld = filt[filt['title'].apply(lambda x: check_keywords(x, cld_with))]
cld.head()

In [ ]:
api_with = [
    ['개발']
]

In [ ]:
filt = df_lower[df_lower['job_name'] == 'API 개발자']

api = filt[filt['title'].apply(lambda x: check_keywords(x, api_with))]
api.head()

In [ ]:
ml_with = [
    ['머신', '러닝', '엔지니어'],
    ['machine', 'learning', 'engineer'],
    ['ml', 'engineer'],
    ['머신', '러닝', 'engineer'],
    ['ml', '엔지니어'],
    ['machine', 'learning', '엔지니어'],
    ['머신', '러닝', '개발'],
    ['ml', '개발'],
    ['machine', 'learning', '개발'],
    ['a', 'i', '개발']
]

In [ ]:
filt = df_lower[df_lower['job_name'] == '머신러닝 개발자']

ml = filt[filt['title'].apply(lambda x: check_keywords(x, ml_with))]
ml.head()

In [ ]:
ds_with = [
    ['데이터', '사이언티스트'],
    ['data', 'scientist']
]

In [ ]:
filt = df_lower[df_lower['job_name'] == '데이터 사이언티스트']

ds = filt[filt['title'].apply(lambda x: check_keywords(x, ds_with))]
ds.head()

In [ ]:
final = pd.concat([da, de, ai, cb, cld, api, ml, ds], axis=0, ignore_index=True)
final.head()

#### 중복 제거

all_job_data = all_job_data.drop_duplicates(['title'])