In [61]:
import pandas as pd

df = pd.read_csv('saramin_jobs.csv')
df.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,정규직,서울,강서구,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,인턴직,서울,강남구,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,경기,수원시 영통구,데이터 분석가

In [62]:
df['직무'].value_counts()

직무
AI 개발자        196
API 개발자       163
클라우드 엔지니어     139
데이터 엔지니어      126
데이터 분석가       125
머신러닝 엔지니어      77
데이터 사이언티스트     74
챗봇 개발자         56
Name: count, dtype: int64

In [63]:
df.columns

Index(['회사', '제목', 'URL', '경력', '계약형태', '지역', '지역(구)', '직무'], dtype='object')

In [64]:
df['계약형태'].unique()

array(['정규직', '인턴직', '계약직', '정규직·계약직', '정규직·인턴직', '정규직·프리랜서', '정규직·기간제',
       '기간제·계약직', '정규직·전문연구요원', '파트·프리랜서', '무기계약직·계약직', '전문연구요원·현역',
       '프리랜서', '정규직·무기계약직'], dtype=object)

In [65]:
job_type = ['정규직', '인턴직', '계약직', '정규직·계약직', '정규직·인턴직',
       '정규직·기간제', '기간제·계약직', '정규직·프리랜서', '계약직·인턴직', '정규직·해외취업',
        '파트·프리랜서', '무기계약직·계약직', '프리랜서', '계약직·프리랜서', '정규직·무기계약직']

In [66]:
df_type = df[df['계약형태'].str.contains('|'.join(job_type), na=False)]
df_type[20:25]

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
20,(주)토마토시스템,[(주)토마토시스템] ai데이터 분석 부문 채용(경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력3년↑,정규직,서울,강남구,데이터 분석가
21,(주)플렉싱크,ai사업본부(데이터 분석/ai모델링) 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,제주,제주시,데이터 분석가
22,(주)콜로세움코퍼레이션,데이터 분석가,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 1~10년,정규직,서울,강남구,데이터 분석가
23,(주)이와이드플러스,[수원영통] 삼성 app서비스 데이터분석/리포팅 담당자 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,경기,수원시 영통구,데이터 분석가
24,(주)엔플럭스,공공기관 da(데이터 분석업무) 인력 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,도봉구,데이터 분석가

In [67]:
df_type['계약형태'].unique()

array(['정규직', '인턴직', '계약직', '정규직·계약직', '정규직·인턴직', '정규직·프리랜서', '정규직·기간제',
       '기간제·계약직', '정규직·전문연구요원', '파트·프리랜서', '무기계약직·계약직', '프리랜서',
       '정규직·무기계약직'], dtype=object)

In [68]:
df_type['직무'].value_counts()

직무
AI 개발자        195
API 개발자       163
클라우드 엔지니어     139
데이터 엔지니어      126
데이터 분석가       125
머신러닝 엔지니어      77
데이터 사이언티스트     74
챗봇 개발자         56
Name: count, dtype: int64

In [69]:
df_lower = df_type.copy()

df_lower['제목'] = df_lower['제목'].str.lower()

In [70]:
def check_keywords(row, keywords):
    for keyword_group in keywords:
        if all(keyword in row for keyword in keyword_group):
            return True
    return False

In [71]:
da_with = [
    ['데이터', '분석'],
    ['데이터', '분석가'],     
    ['data', 'analyst'],  
    ['db', '분석'],      
    ['데이터', '애널리스트'],
    ['buisness', 'analyst'],
    ['analyst'],   
    ['분석'],     
    ['데이터 분석'], 
    ['data analyst'] 
]

In [72]:
filt = df_lower[df_lower['직무'] == '데이터 분석가']

da = filt[filt['제목'].apply(lambda x: check_keywords(x, da_with))]
da.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,정규직,서울,강서구,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,인턴직,서울,강남구,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,경기,수원시 영통구,데이터 분석가

In [73]:
de_with = [
    ['데이터', '엔지니어'],    
    ['data', 'engineer'],  
    ['db', '엔지니어'],      
    ['db', 'engineer']
]

In [74]:
filt = df_lower[df_lower['직무'] == '데이터 엔지니어']

de = filt[filt['제목'].apply(lambda x: check_keywords(x, de_with))]
de.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
125,(주)타임게이트,빅데이터(splunk) 신입 엔지니어 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,정규직,서울,성동구,데이터 엔지니어
126,(주)커넥트웨이브,[커넥트웨이브] 메이크샵 데이터 엔지니어 채용(경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~5년,정규직,서울,금천구,데이터 엔지니어
127,씨앤토트플러스(주),이천] 데이터센터 시스템 운영원 모집(향후 엔지니어 전환 가능),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,경기,이천시,데이터 엔지니어
128,(주)시오랩,[veritas] 클라우드 환경을 위한 데이터보호 엔지니어 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력3년↑,정규직,서울,송파구,데이터 엔지니어
129,(주)도로시,[(주)도로시] 데이터엔지니어 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,금천구,데이터 엔지니어

In [75]:
ai_with = [
    ['a', 'i', '개발'],
    ['인공지능', '개발'],
    ['a', 'i', '엔지니어'],
    ['a', 'i', 'engineer'],
    ['a', 'i', '연구'],
    ['a', 'i', 'architect'],
    ['딥', '러닝'],
    ['deep', 'learning'],
    ['machine', 'learning'],
    ['a', 'i', 'researcher'],
    ['a', 'i', 'solution'], 
    ['a', 'i', '전문가']
]

In [76]:
filt = df_lower[df_lower['직무'] == 'AI 개발자']

ai = filt[filt['제목'].apply(lambda x: check_keywords(x, ai_with))]
ai.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
251,메타빌드(주),메타빌드(주) ai 개발자 인재 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,서초구,AI 개발자
252,(주)노르마,[노르마] 머신러닝/인공지능 개발자 채용 (신입 및 경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,성동구,AI 개발자
253,(주)더원테크,빅데이터 와 인공지능 ai 프로그램 개발자 모십니다.,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,금천구,AI 개발자
254,(주)더존비즈온,ai & mlops 플랫폼 ai 개발/엔지니어 및 mlops 개발자 채용공고,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,중구,AI 개발자
255,(주)모핑아이,[모핑아이] ai 개발자 채용 공고 (경력/신입),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,영등포구,AI 개발자

In [77]:
cb_with = [
    ['챗봇', '개발'],
    ['a', 'i', '개발'],
    ['llm', '개발'],
    ['react', '개발'], 
    ['프론트', '개발']
]

In [78]:
filt = df_lower[df_lower['직무'] == '챗봇 개발자']

cb = filt[filt['제목'].apply(lambda x: check_keywords(x, cb_with))]
cb.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
447,비즈톡(주),카카오톡 상담톡 및 챗봇 서비스 개발자,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 5~10년,정규직,서울,강남구,챗봇 개발자
448,(주)쿨스,[ict사업부] 프론트/백엔드/챗봇/인공지능 웹개발자 정규직 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,부산,강서구,챗봇 개발자
449,(주)스피링크,[인재풀] ai 챗봇 개발 프리랜서 상시 모집(back/front),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,프리랜서,서울,중구,챗봇 개발자
450,(주)메이크봇,"ai챗봇 선두기업, php웹개발자 채용",https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직·계약직,서울,구로구,챗봇 개발자
451,(주)에이아이세스,[aicess] ai 개발자 (지식기반 ai 챗봇) 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력3년↑,정규직,서울,중구,챗봇 개발자

In [79]:
cld_with = [
    ['클라우드', '엔지니어'],
    ['cloud', 'engineer'],
    ['cloud', '엔지니어'],
    ['클라우드', 'engineer'],
    ['cloud', 'architect'],
    ['클라우드', '아키텍트'],
    ['클라우드', '운영'],
    ['시스템', '엔지니어'],
    ['클라우드', '개발'],
    ['cloud', '개발'],
    ['서버', '엔지니어'],
    ['네트워크', '엔지니어'],
    ['network', '엔지니어'],
    ['네트워크', 'engineer'],
    ['인프라', '엔지니어'],
    ['cloud', 'sa']
]

In [80]:
filt = df_lower[df_lower['직무'] == '클라우드 엔지니어']

cld = filt[filt['제목'].apply(lambda x: check_keywords(x, cld_with))]
cld.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
503,주식회사 엠티데이타,클라우드엔지니어/devops엔지니어 모집(1년이상 경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~15년,정규직,경기,성남시 분당구,클라우드 엔지니어
504,(주)유더블유에스,클라우드 기술지원 엔지니어 모집 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 2~19년,정규직·계약직,서울,강남구,클라우드 엔지니어
505,(주)파이오링크,[(주)파이오링크] 클라우드 시스템 엔지니어 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,정규직,서울,금천구,클라우드 엔지니어
506,(주)에이블스토어,"2024 가상화 및 클라우드 엔지니어 모집 (신입, 경력)",https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,서울,영등포구,클라우드 엔지니어
507,(주)엘림넷,클라우드 / 시스템엔지니어 신입 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,정규직,서울,금천구,클라우드 엔지니어

In [81]:
api_with = [
    ['개발']
]

In [82]:
filt = df_lower[df_lower['직무'] == 'API 개발자']

api = filt[filt['제목'].apply(lambda x: check_keywords(x, api_with))]
api.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
642,(주)파이오링크,"[코스닥 상장사] linux,python,java,api 개발자 모집(신입/경력)",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,금천구,API 개발자
643,(주)인피니소프트,[강소기업] 이노페이 pg시스템 및 전자금융/전자결제 api 개발자,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,정규직,서울,금천구,API 개발자
644,주식회사 팬브릿지 (Fanbridge),[api] 웹 서비스 백엔드 개발자 채용(경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,정규직,서울,강남구,API 개발자
645,(주)맥크리오트,"iot sw개발자 (rest api, linux, 모뎀) 모집건",https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 2~15년,정규직,경기,용인시 기흥구,API 개발자
646,(주)창소프트아이앤아이,창소프트아이앤아이 revit api pulgin 개발자 채용(경력직),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,정규직,서울,강남구,API 개발자

In [83]:
ml_with = [
    ['머신', '러닝', '엔지니어'],
    ['machine', 'learning', 'engineer'],
    ['ml', 'engineer'],
    ['머신', '러닝', 'engineer'],
    ['ml', '엔지니어'],
    ['machine', 'learning', '엔지니어'],
    ['머신', '러닝', '개발'],
    ['ml', '개발'],
    ['machine', 'learning', '개발'],
    ['a', 'i', '개발']
]

In [84]:
filt = df_lower[df_lower['직무'] == '머신러닝 엔지니어']

ml = filt[filt['제목'].apply(lambda x: check_keywords(x, ml_with))]
ml.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
805,(주)이스트소프트,[estsoft] llm 머신러닝 엔지니어 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~7년,정규직,서울,서초구,머신러닝 엔지니어
806,(주)이스트소프트,[estsoft] 음성 인식(stt) 머신러닝 엔지니어 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~7년,정규직,서울,서초구,머신러닝 엔지니어
807,(주)딥브레인에이아이,머신러닝/딥러닝 엔지니어,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~20년,정규직,서울,강남구,머신러닝 엔지니어
808,이스트소프트,[estsoft] 음성 인식(stt) 머신러닝 엔지니어 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력3년↑,정규직,서울,서초구,머신러닝 엔지니어
809,(주)제이씨에프테크놀러지,머신러닝 엔지니어 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~8년,정규직,서울,금천구,머신러닝 엔지니어

In [85]:
ds_with = [
    ['데이터', '사이언티스트'],
    ['data', 'scientist']
]

In [86]:
filt = df_lower[df_lower['직무'] == '데이터 사이언티스트']

ds = filt[filt['제목'].apply(lambda x: check_keywords(x, ds_with))]
df.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,정규직,서울,강서구,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,인턴직,서울,강남구,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,경기,수원시 영통구,데이터 분석가

In [87]:
final = pd.concat([da, de, ai, cb, cld, api, ml, ds], axis=0, ignore_index=True)
final.head()

,회사,제목,URL,경력,계약형태,지역,지역(구),직무
0,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,정규직,서울,강서구,데이터 분석가
1,넛지헬스케어(주),[캐시워크] 데이터분석 담당 (석사/박사),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
2,넛지헬스케어(주),[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,인턴직,서울,강남구,데이터 분석가
3,(주)마크클라우드,"ai 개발(python), 데이터분석 및 사업 기획 모집",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,정규직,서울,강남구,데이터 분석가
4,(주)인텔리코드,ml연구소 데이터분석가 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,정규직,경기,수원시 영통구,데이터 분석가

In [88]:
len(final)

955

In [89]:
final['직무'].value_counts()

직무
AI 개발자        195
API 개발자       163
클라우드 엔지니어     139
데이터 엔지니어      126
데이터 분석가       125
머신러닝 엔지니어      77
데이터 사이언티스트     74
챗봇 개발자         56
Name: count, dtype: int64

In [90]:
import os

In [91]:
# 데이터 CSV 저장
output_file = 'saramin_jobs.csv'

# 파일이 이미 존재하면 삭제
if os.path.exists(output_file):
    os.remove(output_file)
    print(f"기존 파일 삭제 완료: {output_file}")

# 새로운 데이터 저장
df = pd.DataFrame(final)
df.to_csv(output_file, index=False, encoding='utf-8-sig')

print(f"CSV 저장 완료: {output_file}")

기존 파일 삭제 완료: saramin_jobs.csv
CSV 저장 완료: saramin_jobs.csv