In [1]:
import pandas as pd

df = pd.read_csv('saramin_jobs.csv')
df.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
0,트리노드(주),[서울/경력 2년 이상] 데이터분석팀 - 게임 데이터 분석가,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,학력무관,서울,강남구,채용시,데이터 분석가
1,(주)숲,[SOOP] 데이터 분석 및 지표 설계,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~10년,학력무관,경기,성남시 분당구,~ 12/08(일),데이터 분석가
2,(주)데이터누리,[데이터누리] 데이터 분석가를 모십니다.,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,학력무관,서울,강서구,채용시,데이터 분석가
3,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,학력무관,서울,강서구,채용시,데이터 분석가
4,콘센트릭스서비스코리아(유),GA/AA 데이터분석,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 1~11년,학력무관,서울,강남구,~ 12/27(금),데이터 분석가

In [2]:
df.columns

Index(['회사', '제목', 'URL', '경력', '학력', '지역', '지역(구)', '마감일', '직무'], dtype='object')

In [3]:
df['직무'].value_counts()

직무
데이터 분석가       200
데이터 엔지니어      200
AI 개발자        200
챗봇 개발자        200
클라우드 엔지니어     200
API 개발자       200
머신러닝 엔지니어     200
데이터 사이언티스트    200
Name: count, dtype: int64

In [4]:
df_lower = df.copy()

df_lower['제목'] = df_lower['제목'].str.lower()

In [5]:
def check_keywords(row, keywords):
    for keyword_group in keywords:
        if all(keyword in row for keyword in keyword_group):
            return True
    return False

In [6]:
da_with = [
    ['데이터', '분석'],
    ['데이터', '분석가'],     
    ['data', 'analyst'],  
    ['db', '분석'],      
    ['데이터', '애널리스트'],
    ['buisness', 'analyst'],
    ['analyst'],   
    ['분석'],     
    ['데이터 분석'], 
    ['data analyst'] 
]

In [7]:
filt = df_lower[df_lower['직무'] == '데이터 분석가']

da = filt[filt['제목'].apply(lambda x: check_keywords(x, da_with))]
da.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
0,트리노드(주),[서울/경력 2년 이상] 데이터분석팀 - 게임 데이터 분석가,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,학력무관,서울,강남구,채용시,데이터 분석가
1,(주)숲,[soop] 데이터 분석 및 지표 설계,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~10년,학력무관,경기,성남시 분당구,~ 12/08(일),데이터 분석가
2,(주)데이터누리,[데이터누리] 데이터 분석가를 모십니다.,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,학력무관,서울,강서구,채용시,데이터 분석가
3,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,학력무관,서울,강서구,채용시,데이터 분석가
4,콘센트릭스서비스코리아(유),ga/aa 데이터분석,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 1~11년,학력무관,서울,강남구,~ 12/27(금),데이터 분석가

In [8]:
de_with = [
    ['데이터', '엔지니어'],    
    ['data', 'engineer'],  
    ['db', '엔지니어'],      
    ['db', 'engineer']
]

In [9]:
filt = df_lower[df_lower['직무'] == '데이터 엔지니어']

de = filt[filt['제목'].apply(lambda x: check_keywords(x, de_with))]
de.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
200,(주)타임게이트,빅데이터(splunk) 신입 엔지니어 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입,초대졸↑,서울,성동구,~ 12/20(금),데이터 엔지니어
201,현대엘리베이터(주),[현대엘리베이터] 데이터 엔지니어 경력 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,대졸↑,서울,종로구,~ 12/15(일),데이터 엔지니어
202,(주)커넥트웨이브,[커넥트웨이브] 메이크샵 데이터 엔지니어 채용(경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~5년,학력무관,서울,금천구,~ 12/31(화),데이터 엔지니어
203,(주)에이치알비즈코리아,게임 데이터엔지니어/세계적인 게임사/판교,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,대졸↑,경기,성남시 분당구,~ 12/20(금),데이터 엔지니어
204,(주)코너스톤42,[cornerstone42] 데이터 엔지니어 모집(경력 1년 이상),https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,대졸↑,서울,송파구,~ 12/13(금),데이터 엔지니어

In [10]:
ai_with = [
    ['a', 'i', '개발'],
    ['인공지능', '개발'],
    ['a', 'i', '엔지니어'],
    ['a', 'i', 'engineer'],
    ['a', 'i', '연구'],
    ['a', 'i', 'architect'],
    ['딥', '러닝'],
    ['deep', 'learning'],
    ['machine', 'learning'],
    ['a', 'i', 'researcher'],
    ['a', 'i', 'solution'], 
    ['a', 'i', '전문가']
]

In [11]:
filt = df_lower[df_lower['직무'] == 'AI 개발자']

ai = filt[filt['제목'].apply(lambda x: check_keywords(x, ai_with))]
ai.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
400,(주)노르마,[노르마] 머신러닝/인공지능 개발자 채용 (신입 및 경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,대졸↑,서울,성동구,~ 12/29(일),AI 개발자
401,(주)포니링크,[코스닥 상장] ai 분야 개발자 경력직 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 5~10년,대졸↑,서울,영등포구,상시채용,AI 개발자
402,(주)더원테크,빅데이터 와 인공지능 ai 프로그램 개발자 모십니다.,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,대졸↑,서울,금천구,~ 12/24(화),AI 개발자
403,(주)더존비즈온,ai & mlops 플랫폼 ai 개발/엔지니어 및 mlops 개발자 채용공고,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,학력무관,서울,중구,상시채용,AI 개발자
404,(주)숲,[soop] ai 미들웨어 api 개발,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~10년,학력무관,경기,성남시 분당구,~ 12/08(일),AI 개발자

In [12]:
cb_with = [
    ['챗봇', '개발'],
    ['a', 'i', '개발'],
    ['llm', '개발'],
    ['react', '개발'], 
    ['프론트', '개발']
]

In [13]:
filt = df_lower[df_lower['직무'] == '챗봇 개발자']

cb = filt[filt['제목'].apply(lambda x: check_keywords(x, cb_with))]
cb.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
600,(주)쿨스,[ict사업부] 프론트/백엔드/챗봇/인공지능 웹개발자 정규직 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,대졸↑,부산,강서구,~ 12/25(수),챗봇 개발자
601,비즈톡(주),카카오톡 상담톡 및 챗봇 서비스 개발자,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 5~10년,학력무관,서울,강남구,~ 12/19(목),챗봇 개발자
602,(주)스피링크,[인재풀] ai 챗봇 개발 프리랜서 상시 모집(back/front),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,학력무관,서울,중구,~ 12/29(일),챗봇 개발자
603,(주)메이크봇,"ai챗봇 선두기업, php웹개발자 채용",https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,초대졸↑,서울,구로구,~ 01/01(수),챗봇 개발자
605,(주)더존비즈온,ai & mlops 플랫폼 ai 개발/엔지니어 및 mlops 개발자 채용공고,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,학력무관,서울,중구,상시채용,챗봇 개발자

In [14]:
cld_with = [
    ['클라우드', '엔지니어'],
    ['cloud', 'engineer'],
    ['cloud', '엔지니어'],
    ['클라우드', 'engineer'],
    ['cloud', 'architect'],
    ['클라우드', '아키텍트'],
    ['클라우드', '운영'],
    ['시스템', '엔지니어'],
    ['클라우드', '개발'],
    ['cloud', '개발'],
    ['서버', '엔지니어'],
    ['네트워크', '엔지니어'],
    ['network', '엔지니어'],
    ['네트워크', 'engineer'],
    ['인프라', '엔지니어'],
    ['cloud', 'sa']
]

In [15]:
filt = df_lower[df_lower['직무'] == '클라우드 엔지니어']

cld = filt[filt['제목'].apply(lambda x: check_keywords(x, cld_with))]
cld.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
800,주식회사 엠티데이타,클라우드엔지니어/devops엔지니어 모집(1년이상 경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~15년,학력무관,경기,성남시 분당구,~ 12/20(금),클라우드 엔지니어
801,(주)빗썸코리아,블록체인 클라우드 엔지니어 (주니어),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 1~7년,학력무관,서울,강남구,~ 12/13(금),클라우드 엔지니어
802,디딤365(주),클라우드 구축 및 운영 엔지니어 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,초대졸↑,서울,구로구,상시채용,클라우드 엔지니어
803,(주)웨어포인트,클라우드(aws) 서버 시스템 엔지니어(se/ta) 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력3년↑,초대졸↑,서울,송파구,채용시,클라우드 엔지니어
804,가온플랫폼(주),개발실 시스템 / 클라우드 엔지니어 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력무관,초대졸↑,대전,유성구,채용시,클라우드 엔지니어

In [16]:
api_with = [
    ['개발']
]

In [17]:
filt = df_lower[df_lower['직무'] == 'API 개발자']

api = filt[filt['제목'].apply(lambda x: check_keywords(x, api_with))]
api.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
1000,(주)파이오링크,"[코스닥 상장사] linux,python,java,api 개발자 모집(신입/경력)",https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,초대졸↑,서울,금천구,~ 12/31(화),API 개발자
1001,(주)인피니소프트,[강소기업] 이노페이 pg시스템 및 전자금융/전자결제 api 개발자,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,대졸↑,서울,금천구,채용시,API 개발자
1002,주식회사 팬브릿지 (Fanbridge),[api] 웹 서비스 백엔드 개발자 채용(경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,학력무관,서울,강남구,~ 12/31(화),API 개발자
1003,(주)호텔스토리,[호텔스토리] connectivity팀 api개발 php 경력/신규개발자 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,신입·경력,학력무관,서울,강남구,내일마감,API 개발자
1004,(주)맥크리오트,"iot sw개발자 (rest api, linux, 모뎀) 모집건",https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 2~15년,초대졸↑,경기,용인시 기흥구,~ 01/17(금),API 개발자

In [18]:
ml_with = [
    ['머신', '러닝', '엔지니어'],
    ['machine', 'learning', 'engineer'],
    ['ml', 'engineer'],
    ['머신', '러닝', 'engineer'],
    ['ml', '엔지니어'],
    ['machine', 'learning', '엔지니어'],
    ['머신', '러닝', '개발'],
    ['ml', '개발'],
    ['machine', 'learning', '개발'],
    ['a', 'i', '개발']
]

In [19]:
filt = df_lower[df_lower['직무'] == '머신러닝 엔지니어']

ml = filt[filt['제목'].apply(lambda x: check_keywords(x, ml_with))]
ml.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
1200,(주)딥브레인에이아이,머신러닝/딥러닝 엔지니어,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~20년,학력무관,서울,강남구,~ 12/16(월),머신러닝 엔지니어
1201,(주)이스트소프트,[estsoft] llm 머신러닝 엔지니어 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~7년,학력무관,서울,서초구,~ 12/29(일),머신러닝 엔지니어
1202,(주)이스트소프트,[estsoft] 음성 인식(stt) 머신러닝 엔지니어 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~7년,학력무관,서울,서초구,~ 12/28(토),머신러닝 엔지니어
1203,이스트소프트,[estsoft] 음성 인식(stt) 머신러닝 엔지니어 (경력),https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력3년↑,학력무관,서울,서초구,상시채용,머신러닝 엔지니어
1204,(주)제이씨에프테크놀러지,머신러닝 엔지니어 채용,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~8년,대졸↑,서울,금천구,채용시,머신러닝 엔지니어

In [20]:
ds_with = [
    ['데이터', '사이언티스트'],
    ['data', 'scientist']
]

In [21]:
filt = df_lower[df_lower['직무'] == '데이터 사이언티스트']

ds = filt[filt['제목'].apply(lambda x: check_keywords(x, ds_with))]
df.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
0,트리노드(주),[서울/경력 2년 이상] 데이터분석팀 - 게임 데이터 분석가,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,학력무관,서울,강남구,채용시,데이터 분석가
1,(주)숲,[SOOP] 데이터 분석 및 지표 설계,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~10년,학력무관,경기,성남시 분당구,~ 12/08(일),데이터 분석가
2,(주)데이터누리,[데이터누리] 데이터 분석가를 모십니다.,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,학력무관,서울,강서구,채용시,데이터 분석가
3,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,학력무관,서울,강서구,채용시,데이터 분석가
4,콘센트릭스서비스코리아(유),GA/AA 데이터분석,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 1~11년,학력무관,서울,강남구,~ 12/27(금),데이터 분석가

In [22]:
final = pd.concat([da, de, ai, cb, cld, api, ml, ds], axis=0, ignore_index=True)
final.head()

,회사,제목,URL,경력,학력,지역,지역(구),마감일,직무
0,트리노드(주),[서울/경력 2년 이상] 데이터분석팀 - 게임 데이터 분석가,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력2년↑,학력무관,서울,강남구,채용시,데이터 분석가
1,(주)숲,[soop] 데이터 분석 및 지표 설계,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 3~10년,학력무관,경기,성남시 분당구,~ 12/08(일),데이터 분석가
2,(주)데이터누리,[데이터누리] 데이터 분석가를 모십니다.,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력5년↑,학력무관,서울,강서구,채용시,데이터 분석가
3,(주)딜리버드코리아,[딜리버드코리아] 데이터 분석가 / 데이터 사이언티스트 모집,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력,학력무관,서울,강서구,채용시,데이터 분석가
4,콘센트릭스서비스코리아(유),ga/aa 데이터분석,https://www.saramin.co.kr/zf_user/jobs/relay/v...,경력 1~11년,학력무관,서울,강남구,~ 12/27(금),데이터 분석가

In [23]:
len(final)

960

In [24]:
final['직무'].value_counts()

직무
AI 개발자        187
API 개발자       166
클라우드 엔지니어     133
데이터 분석가       130
데이터 엔지니어      126
머신러닝 엔지니어      83
데이터 사이언티스트     76
챗봇 개발자         59
Name: count, dtype: int64

In [25]:
import os

In [26]:
# 데이터 CSV 저장
output_file = 'saramin_jobs.csv'

# 파일이 이미 존재하면 삭제
if os.path.exists(output_file):
    os.remove(output_file)
    print(f"기존 파일 삭제 완료: {output_file}")

# 새로운 데이터 저장
df = pd.DataFrame(final)
df.to_csv(output_file, index=False, encoding='utf-8-sig')

print(f"CSV 저장 완료: {output_file}")

기존 파일 삭제 완료: saramin_jobs.csv
CSV 저장 완료: saramin_jobs.csv